<h3>予約済みルーム一覧</h3>

<table>
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>人数</th>
        <th>合計料金</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>予約確定日時</th>
        <th>削除</th>
      </tr>
    </thead>

    <tbody>
      <% @reservation.each do |reservation| %>
        <tr>
          <td><%= link_to image_tag(reservation.post.room_image.url, :size =>'250x150'), post_reservation_path(reservation.id, reservation.post.id), method: :get %></td>
          <td><%= link_to reservation.post.room_name, post_reservation_path(reservation.id, reservation.post.id), method: :get %></td>
          <td><%= reservation.post.room_introduction %></td>
          <td><%= reservation.number_of_reservations %></td>
          <td>¥ <% past_seconds = reservation.end_date-reservation.start_date %>
                <% past_days = (past_seconds / 1.days).floor %>
                <%= reservation.post.room_price*past_days*reservation.number_of_reservations %></td>
          <td><%= reservation.start_date.to_s(:ja) %></td>
          <td><%= reservation.end_date.to_s(:ja) %></td>
          <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
          <td><%= link_to "削除", post_reservation_path(reservation.post.id, reservation.id), method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
